// Color Name Variables

	$x-palette-black: #000000;
	$x-palette-white: #ffffff;

// Reusable Variables

	$color-bg-one: $x-palette-black;

	$color-text-one: $x-palette-white;
	$color-text-two: $x-palette-white;

// Important Variables

	$bg-color: $color-bg-one;
	$text-color: $color-text-one;
	$font-fam: 'Josefin Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	$link: $color-text-one;
	$hover: rgba(black, 0.5);